<div class= "container">
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">QUERYZ</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">{{#link-to 'index'}}HOME{{/link-to}}</li>
      <li>{{#link-to 'contact'}}CONTACT US{{/link-to}}</li>
      <li>{{#link-to 'aboute'}}ABOUT US{{/link-to}}</li>

    </ul>
  </div>
</nav>
    {{outlet}}
  <hr>
  <footer>
    <div class="row" id="mainrow">
      <div class="row">
        <h2 class="text-center text-primary">QUERIEZ</h2>
        <h4 class="text-center text-primary">NEVER LET ANY LIFE MYSTERY GO UNANSWERED</h4>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="https://image.flaticon.com/icons/svg/145/145807.svg" class="img-responsive footerimage"/>
        </div>
        <div class="col-md-4">
          <img src="https://image.flaticon.com/icons/svg/145/145802.svg" class="img-responsive footerimage"/>
        </div>
        <div class="col-md-4">
          <img src="https://image.flaticon.com/icons/svg/145/145812.svg" class="img-responsive footerimage"/>
        </div>
      </div>
      <div class="row">
        <h2 class="text-center text-primary">QUERIEZ is a free to use platform</h2>
        <h2 class="text-center text-primary">© 2013-2017 Graphic Resources S.L. All rights reserved.</h2>
      </div>
    </div>
  </footer>
</div>
