<h2>QUERYZ</h2>
{{new-query question=question saveQuery="saveQuery"}}
{{#each model.questions as |question|}}
{{question-popularity question}}{{question-tile question=question delete="delete" changeQuery="changeQuery"}}


{{/each}}
