<h2>ASK.COM</h2>
{{new-query question=question saveQuery="saveQuery"}}
{{#each model as |question|}}
{{question-tile question=question delete="delete"}}
{{/each}}



{{#link-to 'aboute'}}about us{{/link-to}}
{{#link-to 'contact'}}contact us{{/link-to}}
